@{
    ViewBag.Title = @WAD.Resources.General.Contact;
}


    <div class="flex-column" style="margin: 10%;">
        <h2>@WAD.Resources.General.Contact</h2>
        <address>
            @WAD.Resources.Contact.Address_city<br />
            @WAD.Resources.Contact.Address_state<br />
        </address>

        <address>
            <strong>@WAD.Resources.Contact.Contact_num</strong><a href="#">+998 78 120 88 88</a><br />
            <strong>@WAD.Resources.Contact.Feedback</strong><a href="#">arba@example.com</a><br />
        </address>

    </div>
